

<table class="iot-table">
  <tr>
    <td>
      <mat-card class="iot-card">
        <mat-card-header>

          <mat-card-title>my first Investment Oriantation Tool</mat-card-title>
          <mat-card-subtitle>product {{product}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>


          <p align="center">Period: {{period}} year
            <ng5-slider [(value)]="period" [options]="periodOptions" (valueChange)="recalculate()"></ng5-slider>
          </p>

          <p align="center"> {{transactions}} transactions per year
            <ng5-slider [(value)]="transactions" [options]="transactionOptions" (valueChange)="recalculate()"></ng5-slider>
          </p>
          <p align="center"> 
            {{oneTimeDeposit | currency:"EUR"  }} One Time Deposit
            <ng5-slider [(value)]="oneTimeDeposit" [options]="oneTimeDepositOptions" (valueChange)="recalculate()"></ng5-slider>
          </p>
          <p align="center">Yearly recurring investment: {{recurringDeposit| currency:"EUR"}}
            <ng5-slider [(value)]="recurringDeposit" [options]="recurringDepositOptions" (valueChange)="recalculate()"></ng5-slider>
          </p>
          <p align="center">Risk: {{riskLevel}}
            <ng5-slider [(value)]="riskLevel" [options]="riskLevelOptions" (valueChange)="recalculate()"></ng5-slider>
          </p>
          <p>.</p>
        </mat-card-content>
      </mat-card>
    </td>
    <td>


        <mat-card class="iot-card">
            <mat-card-header>
        
              <mat-card-subtitle> {{product}} Bar chart</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="container">
                    <div class="col-sm-4 text-center">
                     
                      <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [chartType]="barChartType"
                            [options]="barChartOptions"
                            [colors]="barChartColors"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>
                  </div>
                
            
            </mat-card-content>
          </mat-card>


          

    </td>
  </tr>
   <tr>
    <td colspan="2">

      <mat-card class="iot-debug-card">
        <mat-card-header>

          <mat-card-subtitle>cost calucation</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <table>
    <th>year</th>
    <th>Deposit</th>
    <th>Cum Deposit</th>
    <th> - </th>
    <th>Total Assets</th>
    <th> </th>
    <th>Var S. Fee</th>
    <th>Cum Var S. Fee</th>
    <th>Fix S. Fee</th>

    <th>Tx Cost</th>
    <th>Tx Dis.</th>
    <th>Tax</th>
    <th>Cur Cost</th>
    <th> </th>
    <th>Total Costs</th>
    <th>Cum Total Costs</th>


  <tr *ngFor="let p of portfolio">
    <td>{{p.year}}

    </td>
    <td>{{p.deposit | currency:"EUR"}} <br>
      {{p.deposit | currency:"EUR"}}<br>
      {{p.deposit | currency:"EUR"}}</td>
    <td>{{p.cumDeposit | currency:"EUR"}}<br>
      {{p.cumDeposit | currency:"EUR"}}<br>
      {{p.cumDeposit | currency:"EUR"}}</td>
    <td></td>
    <td>
      {{p.badMarketAssets | currency:"EUR"}}<br>
      {{p.nutralMarketAssets | currency:"EUR"}}<br>
      {{p.goodMarketAssets | currency:"EUR"}}
    </td>
    <td> </td>

    <td>
      {{p.badMarketVariableServiceFee | currency:"EUR"}} <br>
      {{p.nutralMarketVariableServiceFee | currency:"EUR"}} <br>
      {{p.goodMarketVariableServiceFee | currency:"EUR"}} <br>
    </td>
    <td>
      {{p.cumBadMarketVariableServiceFee | currency:"EUR"}} <br>
      {{p.cumNutralMarketVariableServiceFee | currency:"EUR"}} <br>
      {{p.cumGoodMarketVariableServiceFee | currency:"EUR"}} <br>
    </td>


    <td>{{p.fixedServiceFee | currency:"EUR"}}</td>
    <td>{{p.txCost | currency:"EUR"}}</td>
    <td>{{p.txDiscount | currency:"EUR"}}</td>
    <td>{{p.tax | currency:"EUR"}}</td>
    <td>{{p.currencyCost | currency:"EUR"}}</td>
    <td></td>
    <td>
      {{p.totalBadMarketCost| currency:"EUR"}}<br>
      {{p.totalNutralMarketCost| currency:"EUR"}}<br>
      {{p.totalGoodMarketCost| currency:"EUR"}}
    </td>
    <td>
      {{p.cumTotalBadMarketCost| currency:"EUR"}}<br>
      {{p.cumTotalNutralMarketCost| currency:"EUR"}}<br>
      {{p.cumTotalGoodMarketCost| currency:"EUR" }} 
    </td>
  </tr>

</table>

</mat-card-content>
</mat-card>
</td>
</tr>
<tr>
  <td colspan="2">
    <mat-card class="iot-debug-card">
      <mat-card-header>

        <mat-card-subtitle>Json Configurations</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Portfolio Configuration json (single product)
              </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-form-field class="example-full-width">
              <p>
                Json for this product : {{product}}
                <textarea rows="20" matInput placeholder="portfolio" value="{{assetAllocationList| json}}"></textarea>
              </p>
              <p>
                Total Json
                <textarea rows="20" matInput placeholder="portfolio" value="{{portfolioJson| json}}"></textarea>
              </p>


            </mat-form-field>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="true" (closed)="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Price Configuration Json
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
              <textarea rows="20" matInput placeholder="price" value="{{priceJson| json}}"></textarea>
            </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>
    </mat-card>
  </td>
</tr> 
</table>
<p>-</p>






