
.iot-card {
    max-width: 400px;
  }
  .iot-debug-card {
    max-width: 100%;
  }
  
  .iot-grid-tile{
    background-color: lightslategray;
  }

 
  
.iot-card mat-card-header {
    background-color: lightslategray;
  }


.iot-table {
  border-collapse: collapse;
  width: "100%"
}

table, iot-table{
  border: 1px solid gray;
  width: 100%;
  text-align: left;
  
}


