
.iot-card {
    max-width: 400px;
  }
  .iot-debug-card {
    max-width: 800px;
  }
  
  .iot-grid-tile{
    background-color: lightslategray;
  }

 
  
.iot-card mat-card-header {
    background-color: lightslategray;
  }


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gray;
}


